<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Document</title>
<script src="./vue2.js"></script>
</head>
<body>
<div id="app">
    
    <input type="text" v-model='firstname'>
    <input type="text" v-model='lastname'>
    <div> 全名:{{firstname+lastname}}</div>
    <h1>computed</h1>
    <div>全名:{{fullName}}</div>
    
   
   
</div>
<script>
var vm = new Vue({
el: '#app',
data: {
    firstname:'',
    lastname:''
},
computed:{//通过computed关键字来创建计算属性关键字，它是一个对象
    fullName(){//这里fullname就是一个计算属性，它是一个函数但是可以当做一个属性来用
        return this.firstname+this.lastname
    }
},
methods: {}
})
</script>
</body>
</html>